@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #111517;
}

html,
body,
#root {
  height: 100%;
}

.app {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}
